<div ui-view="content">
    <div class="register_page_main">
      <div class="faq_main">
        <div class="faqs_list_main privacy_page_main">
          <h5><small>Updated December 23, 2003 - Version 1.7</small></h5>
          <div class="faqs_list_main_item">
            <h5>Acceptance Of Terms</h5>
            <div class="faq_ans_block policy_list_desc privacy_topic_links clearfix">
              <a href="javascript:void(0)" (click)="moveToSpecificView(descofservices)">Description of Services</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(regobligations)">Your Registration Obligations</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(links)">Links</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(memacct)">Memeber Account, Password &amp; Security</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(memconduct)">Member Conduct</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(indemnification)">Indemnification</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(copyright)">Copyright Policy</a>
              <a href="javascript:void(0)" (click)="moveToSpecificView(limofliablity)">Limitation of Liability</a>
              <br>
              <br>
              <br>
              <p>Kaakateeya.com provides its service to users, subject to the following Terms of Service ("TOS"), which
                may be modified by us from time to time without notice to you.</p>
            </div>
          </div>
          <div class="faqs_list_main_item" #descofservices>
            <h5>Description of Service</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>
                Kaakateeya.com Unless explicitly stated otherwise, any new features that augment or enhance the current
                service shall be subject to the TOS. Membership Fee is non-refundable and non-transferable. The users
                understand and agree that the Service is provided
                "AS-IS" and that kaakateeya.com accepts no responsibility for the timeliness, deletion, non-delivery or
                failure to store any user communications or Contents. Kaakateeya.Com does not screen any members for
                validity of the information
                posted on the website.Kaakateeya.Com does not warrant that your use of the service will be secure,
                uninterrupted, always available, or error-free, or will meet your expectations, or that any errors / bugs
                in the Service will
                be rectified.
              </p>
            </div>
          </div>
          <div class="faqs_list_main_item" #regobligations>
            <h5>Your Registration Obligations</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>
                By registering or posting content to the website, you automatically grant to Kaakateeya.Com a
                royalty-free, perpetual, irrevocable, non-exclusive and fully sub licensable worldwide right and license
                to use, reproduce, modify, adapt, publish, edit, translate,
                distribute, perform, create derivative work of and display such Content alone, or as a part of other
                works in any form, media, or technology, whether now known or hereafter developed. Any content you
                transmit or post may be
                used by Kaakateeya.Com or licensed to others by Kaakateeya.Com for any purpose, including but not limited
                to reproduction, disclosure, transmission, publication, broadcast and posting. In consideration of your
                use of the Service,
                you agree to: provide true, accurate, current and complete information about yourself as prompted by the
                Service's registration form (such information being the "Registration Form") and maintain and promptly
                update the Registration
                Data to keep it true, accurate, current and complete. If you provide any information that is untrue,
                inaccurate, not current or incomplete, or Kaakateeya.Com has reasonable grounds to believe that such
                information is untrue,
                inaccurate, not current or incomplete, Kaakateeya.Com has the right to suspend or terminate your account
                and refuse any and all, current or future, use of the Service (or any portion thereof) without further
                notice. If you
                choose to upgrade your service as a paid member over the phone you understand that your credit card will
                be charged one time after the expiry of the initial membership period you had agreed to upgrade. You
                agree to call us/
                send email within the first week to cancel your upgrade.Kaakateeya.Com will not provide a refund if your
                account has been disbled paid status for non-complaince of your registration obligations.
              </p>
            </div>
          </div>
          <div class="faqs_list_main_item" #links>
            <h5>Links</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>
                Kaakateeya.Com has not reviewed all of the sites linked to this website and is not responsible for the
                availability, content or accuracy of any pages or other sites linked via this website. The inclusion of
                any link to such sites does not imply endorsement
                by Kaakateeya.Com of these sites.Your linking to any other pages or sites is at your own risk. You agree
                that Kaakateeya.Com will not be liable for any loss or damages you or any third party may suffer in
                connection with third
                party pages or sites.
              </p>
            </div>
          </div>
          <div class="faqs_list_main_item" #memacct>
            <h5>Member Account, Password And Security</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>
                You will receive a password and account designation upon completing the Service's registration process.
                You are responsible for maintaining the confidentiality of the password and account, and are fully
                responsible for all activities that occur under
                your password or account. You agree to immediately notify Kaakateeya.Com of any unauthorized use of your
                password or account or any other breach of security, and ensure that you exit from your account at the
                end of each session
                / login.Kaakateeya.Com cannot and will not be liable for any loss or damage arising from your failure to
                comply with this Section.
              </p>
            </div>
          </div>
          <div class="faqs_list_main_item" #memconduct>
            <h5>Memeber Conduct</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>As a user / member, you are responsible for your own content and are responsible for the consequences of
                your posting such content. You agree that you will not do the following things: post materials that are
                copyrighted, unless
                you are a copyright owner or have the permission of the copyright owner to post it; post material that
                violates any law or infringes on any other intellectual property rights of others or on the privacy or
                publicity rights
                of others; post material that is obscene, defamatory, threatening, harassing, abusive, hateful, or
                embarrassing to another user or any other person or entity; post a sexually-explicit image; post or
                transmit any advertisements,
                promotional materials, "junk mail," "spam," chain letters, pyramid schemes or any form of solicitation;
                impersonate another person or misrepresent your affiliation with any person or organization; access the
                website to obtain
                a list of users of the website; access or use any secure or non-public areas of the website without
                authorization; or frame or link to the website.Kaakateeya.Com oes not represent or guarantee the
                truthfulness, accuracy, or
                reliability of any Content posted by other users or endorses any opinions expressed by users. You
                acknowledge that any reliance on material posted by other users will be at your own risk. Kaakateeya.Com
                does not screen communications
                in advance and is not responsible for screening or monitoring material posted by users. If Kaakateeya.Com
                becomes aware of any communication that allegedly does not confirm to these Terms and Conditions,
                Kaakateeya.Com may
                investigate the communication and determine in good faith in its sole discretion whether to remove or
                request the removal of the Kaakateeya.Com has no liability or responsibility to you for performance or
                nonperformance of
                such Kaakateeya.Com reserves the right to remove Content, expel users and prevent their further access to
                the website for violating these Terms and Conditions or the law.</p>
            </div>
          </div>
          <div class="faqs_list_main_item" #indemnification>
            <h5>Indemnification</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>You agree to defend, indemnify, and hold harmless Kaakateeya.Com, its members, employees and partners,
                from and against any claims, actions or demands, including without limitation reasonable legal and
                accounting fees, arising
                from your use or misuse of this website or our Content or your breach of these Terms and Conditions.
                Kaakateeya.Com reserves the right, at its own expense, to assume the exclusive defense and control of any
                matter otherwise
                subject to indemnification by you, in which event you will cooperate with Kaakateeya.Com in asserting any
                available defenses.</p>
            </div>
          </div>
          <div class="faqs_list_main_item" #copyright>
            <h5>Copyright Policy</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>All Content included on this website, such as text, graphics, logos, button icons, images, audio clips
                and software, is the property of Kaakateeya.com or its Content suppliers and protected by U.S. and
                international copyright laws.
                The compilation (meaning the collection, arrangement and assembly) of all Content on this website is the
                exclusive property of Kaakateeya.Com and protected by U.S. and international copyright laws. All software
                used on this
                website is the property of Kaakateeya.Com, its partners or its software suppliers and is protected by
                U.S. and international copyright laws. The reproduction, modification, distribution, transmission,
                republication, display
                or performance, of the Content on this website is strictly prohibited.</p>
            </div>
          </div>
          <div class="faqs_list_main_item" #limofliablity>
            <h5>Limitation Of Liability</h5>
            <div class="faq_ans_block policy_list_desc">
              <p>Under no circumstances shall Kaakateeya.Com nor any other partner involved in creating/
                developing/maintaining, content or graphics,to this website be liable for any direct,indirect,
                incidental, special or consequential damages
                resulting from your access to or use of or inability to use this website and our content, whether the
                alleged liability is based on warranty, contract, tort, strict liability or any other basis or legal
                theory, and whether
                or not Kaakateeya.Com has been advised of the possibility of such damages.Because some jurisdictions do
                not allow the exclusion or limitation of incidental or consequential damages. Kaakateeya.Com liability in
                such jurisdictions
                shall be limited to the minimum extent permitted by law.</p>
            </div>
          </div>
        </div>
      </div>
    </div>